.header {
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50;
}

.header__logo-image {
    max-width: 150px;
    height: auto;
    vertical-align: middle;
}